{% extends 'base.html' %}
	{% load static%}

	{% block content%}
	<!-- Activiy -->
	<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="../static/img/JacksonHendry.jpg" style="width:100%;">
			<div id="slide1" class="carousel-caption">
				<h1 class="display-2">My Profile</h1>
				<h3>Who Am I?</h3>
				<div id="button block">
				<a href="myprofile" class="btn btn-outline-success btn-md" role="button">My Profile</a>
				<a href="myskills" class="btn btn-outline-info btn-md" role="button">My Skills</a>
				<a href="myexperience" class="btn btn-outline-warning btn-md" role="button">My Experience</a>
				</div>
			</div>
			
		</div>
		<div class="carousel-item">
			<img src="../static/img/walle2.jpg" style="width:100%;">
			<div id="secondary" class="carousel-caption">
				<h2 class="display-1">Wall-E</h2>
				<p>Picture picked from Google.com</p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="../static/img/walle-9.jpg" style="width:100%;">
			<div id="secondary" class="carousel-caption">
				<h2 class="display-1">Wall-E</h2>
				<p>Picture picked from Google.com</p>
			</div>
		</div>

	</div>
	</div>

	<!-- Jumbotron -->
	<div class="container-fluid">
	<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
				<p class="lead">Hello, Buddies!! I need some help over here</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
				<a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Help Now</button></a>
			</div>
	</div>
	</div>
{% endblock %}
