{% extends 'base.html' %}
	{% block content %}
	<!-- CARD -->
	<section id="mycontact">
		<div class="container">
			<div id="contact_title" class="title">
				<h1>My Contact</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center">
						<img id="images" class="card-img-top" src="../static/img/ig.png" alt="Card image">
						<div id="ContactCardBody" class="card-body">
							<h5 id="ContactCardTitle" class="card-title">Instagram</h5>
							<a href="https://www.instagram.com/amarullahhakim" class="btn btn-success bt-md">GO!</a>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<img id="images" class="card-img-top" src="../static/img/ig.png">
						<div id="ContactCardBody" class="card-body">
							<h5 id="ContactCardTitle" class="card-title">Line</h5>
							<a href="www.line.com" class="btn btn-success bt-md">GO!</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center">
						<img id="images" class="card-img-top" src="../static/img/ig.png">
						<div id="ContactCardBody" class="card-body">
							<h5 id="ContactCardTitle" class="card-title">Telegram</h5>
							<a href="www.telegram.com" class="btn btn-success bt-md">GO!</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	{% endblock %}