{% extends 'base.html' %}

	{% block content%}
	<!-- SECTION -->
	<div class="container">
		<div class="row">
			<div class="col text-justify">
					<h2 id="SkillsCardTitle" class="title2">Tentang Saya</h2>
					<p id="about" class="lead">Halo, Saya Hakim Amarullah dari Fasilkom 2019 jurusan ilmu komputer. Saya suka pemrograman, tetapi bukan berarti jago ngoding. Saya masuk Fasilkom hanya karena saya suka hal-hal yang berhubungan dengan teknologi, ternyata saya terlahir bukan untuk membangun teknologi itu. Pada akhirnya saya hanya bisa menjadi pengguna biasa. Saya sadar ini sulit, namun saya hanya bisa menjalani semua ini hingga suatu
					saat saya akan kehabisan waktu dan runtuh dalam perjalanan ini.<br>- Story 4</p>
			</div>
			<div id="image about" class="col">
				<img  src="../static/img/profile.jpg" class="img-fluid">
			</div>
		</div>
	</div>
	{% endblock %}