body{
	background-color:#2F303A;
	overflow-y: scroll;
}
html{
	box-sizing: border-box
}

 .nav-item{
	font-size: 20px;
	margin:10px;
}
.navbar-brand{
	font-size: 30px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.56);
	filter: drop-shadow(0px 4px 59px rgba(32, 99, 231, 0.5));
}
#slide1 {
	margin: auto;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#secondary{
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
.carousel-inner img{
	opacity: 40%;
}

.container{
	display: block;
}

/* SKiLLS SECTION */
#myskills{
	padding: 30px 0px;

}

#myskills h1{
	font-weight: 400;
	font-family: sora;
	font-size: 34px;
	padding-bottom: 5px;
	color: #FFF5F5;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#skill_title{
	text-align: center;
	padding: 25px 0px;
}
#SkillsCardBody{
	background: linear-gradient(180deg, rgba(19, 164, 164, 8) 0%, #147070 28.18%);
	border: 12px solid rgba(141, 38, 200, 0.99);
}
#SkillsCardTitle{
	font-family: sora;
	font-size: 28px;
	top: 2px;
	color: #FFF5F5;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#SkillsCardBody li{
	background: linear-gradient(180deg, rgba(19, 164, 164, 8) 0%, #147070 28.18%);
	border: none;
	text-decoration: none;
	color: #FFF5F5;
}
#row1{
	margin: 20px;
	background-color: blue;
}
#mycontact{
	padding: 30px 0px;
	filter: drop-shadow(17px 10px 4px rgba(20, 125, 222, 0.47));

}
#mycontact h1{
	font-weight: 400;
	font-family: sora;
	font-size: 34px;
	padding-bottom: 5px;
	color: #FFF5F5;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#contact_title{
	text-align: center;
	padding: 25px 0px;
}
#ContactCardBody {
	background: #2D9CDB;
}
#ContactCardTitle{
	font-family: sora;
	font-size: 28px;
	top: 2px;
	color: #FFF5F5;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
#images{
	background: #2D9CDB;
}
#Exptitle{
	font-weight: 400;
	font-family: sora;
	font-size: 34px;
	padding-bottom: 5px;
	color: #FFF5F5;
	text-align: center;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
}
.card-text{
	font-size: 15px;
	color: #FFF5F5;
}
#image about{
	width: 100px;
	height: 100px;
}
#about{
	text-align: justify;
	color: #FFF5F5;
	padding: 5px;
	padding-top: 10px;
	font-size: 18px;
}
.title2{
	text-align: center;
	padding-top: 5px;
}
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */