{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width" initial-scale=1>
	<title>Captain Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://plugins.jquery.com/slick/1.3.9/"></script>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><p>Captain</p></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul  class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myprofile/">My Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myexperience/">My Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/myskills/">My Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact/">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about/">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.google.com">Leave</a>
				</li>
			</ul>
		</div>
	</div>
	</nav>
	{% block content%}
	{% endblock %}

</body>
</html>